<div id="particles-js">
  <div class="page-404">
    <div class="outer">
      <div class="middle">
        <div class="inner">
          <div class="inner-circle"><i class="fa fa-home"></i><span>404</span></div>
          <span class="inner-status">Oops! You're lost</span>
          <span class="inner-detail" style="color:#fff;">
                    We can not find the page you're looking for.
                    <a routerLink="/temperature" class="btn btn-info mtl">Return To Temperature Converter</a>
                </span>
        </div>
      </div>
    </div>
  </div>
</div>
