section {
  background-image: url("https://wallpaperbat.com/img/344116-dark-abstract-wallpaper-top-free-dark-abstract-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;

}
