<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">MPH -> KM/H</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">KM/H -> MPH</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Meters/s -> MPH</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Feet/s -> Meters/s</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Meters/h -> Feet/s</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MPH -> knots</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Speed Converter</h5>
    <p class="card-text">Please Choose what you'd like to convert</p>
    <!--    User input will go here. -->
    <!--    I may create a model.-->
    <!--    Will store the input, and use it in it's respective function in formulas service. Then spit the answer out below-->
    <a href="#" class="btn btn-primary">Convert</a>
  </div>
</div>
