<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'calcSelect': selector === 'celsiusToFahrenheit'}"
           style="cursor: pointer" (click) = "selector = 'celsiusToFahrenheit'">Celsius -> Fahrenheit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'calcSelect': selector === 'fahrenheitToCelsius'}"
           style="cursor: pointer" (click) = "selector = 'fahrenheitToCelsius'">Fahrenheit -> Celsius</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'calcSelect': selector === 'fahrenheitToKelvin'}"
           style="cursor: pointer" (click) = "selector = 'fahrenheitToKelvin'">Fahrenheit -> Kelvin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'calcSelect': selector === 'kelvinToFahrenheit'}"
           style="cursor: pointer" (click) = "selector = 'kelvinToFahrenheit'">Kelvin -> Fahrenheit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'calcSelect': selector === 'celsiusToKelvin'}"
           style="cursor: pointer" (click) = "selector = 'celsiusToKelvin'">Celsius -> Kelvin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'calcSelect': selector === 'kelvinToCelsius'}"
           style="cursor: pointer" (click) = "selector = 'kelvinToCelsius'">Kelvin -> Celsius</a>
      </li>
    </ul>
  </div>
  <div  class="card" style="width: 18rem;">
    <h5 class="card-title">Temperature Converter</h5>

    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label class="col-form-label">Value: </label>
      </div>
      <div class="col-auto">
<!--        This doesn't necessarily need 2 way binding so I will have to change this to a local reference or something?-->
        <input class="form-control" [(ngModel)]="input">
      </div>
      <div class="col-auto">
    <span class="form-text">
      Must be a a real number.
    </span>
      </div>
    </div>

    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label class="col-form-label">Result: </label>
      </div>

      <br><br><br>

      <div class="col-auto">
<!--        This doesn't necessarily need 2 way binding so I will have to change this to a local reference or something?-->
        <input class="form-control" [readonly]="true" [(ngModel)]="result">
      </div>
    </div>


    <a class="btn btn-primary" (click)="convertTemperature()">Convert</a>
  </div>
</div>
