<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" href="#">Celcius -> Fahrenheit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Fahrenheit -> Celcius</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Fahrenheit -> Kelvin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kelvin -> Fahrenheit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Celcius -> Kelvin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kelvin -> Celcius</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Temperature Converter</h5>
    <p class="card-text">Please Choose what you'd like to convert</p>
    <!--    User input will go here. -->
    <!--    I may create a model.-->
    <!--    Will store the input, and use it in it's respective function in formulas service. Then spit the answer out below-->
    <a href="#" class="btn btn-primary">Convert</a>
  </div>
</div>
