<app-navbar></app-navbar>
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'calcSelect': selector === 'INCM'}"
           style="cursor: pointer" (click) = "selector = 'INCM'">Inches -> Centimeters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'calcSelect': selector === 'MKM'}"
           style="cursor: pointer" (click) = "selector = 'MKM'">Miles -> Kilometers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'calcSelect': selector === 'MMPM'}"
           style="cursor: pointer" (click) = "selector = 'MMPM'">Millimeters -> Picometers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'calcSelect': selector === 'FTM'}"
           style="cursor: pointer" (click) = "selector = 'FTM'">Feet -> Miles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'calcSelect': selector === 'YFT'}"
           style="cursor: pointer" (click) = "selector = 'YFT'">Yards -> feet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'calcSelect': selector === 'MY'}"
           style="cursor: pointer" (click) = "selector = 'MY'">Meters -> Yards</a>
      </li>
    </ul>
  </div>
</div>
<div class="positioning">
  <div  class="card">
    <h5 class="card-title">Length Converter</h5>

    <div class="row g-4 align-items-center">
      <div class="col-auto">
        <label class="col-form-label">Value: </label>
      </div>
      <div class="col-auto">
        <input #inputValue class="form-control">
      </div>
      <div class="col-auto">
      <span class="form-text">
        Must be a a real number.
      </span>
      </div>
    </div>

    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label class="col-form-label">Result: </label>
      </div>

      <br><br><br>

      <div class="col-auto">
        <input class="form-control" [readonly]="true" placeholder="{{result}}">
      </div>
    </div>
    <a class="btn btn-primary" (click)="convertLength(inputValue)">Convert</a>
  </div>
</div>
