<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Inches -> Centimeters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Miles -> Kilometers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Millimeters -> Picometers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Feet -> Miles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Yards -> feet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Meters -> Yards</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Length Converter</h5>
    <p class="card-text">Please Choose what you'd like to convert</p>
    <a href="#" class="btn btn-primary">Convert</a>
  </div>
</div>
